<!DOCTYPE html>
<html>
<head>
  <title>Shoopping</title>
  <%= stylesheet_link_tag    "shoopping/application", media: "all" %>
  <%= javascript_include_tag "shoopping/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
